@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nhóm 08 PMMNM
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0123456789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nhom08_PMMNM_HaUI@gmail.com">nhom08_PMMNM_HaUI@gmail.com</a><br />
</address>